<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Socket-io webpage</title>
    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->
</head>

<body>
    Open Dev tool

    <script>
        var socket = io('/wkr1');
        // socket.emit('message', { data: '111' });
        socket.on('data', function (data) {
            document.writeln(data);
            console.log(data);
        });
        socket.emit('data', { data: [2], user: 'nhu lan' })
        socket.on('message', function (data) {
            document.writeln(data);
            console.log(data);
        });
        socket.on('afterCreate', function (data) {
            document.writeln(data);
            console.log(data);
        });
        socket.emit('bc', { data: 123 });
        socket.on('res',mess=>{
            console.log(mess);
        });
    </script>
</body>

</html>